* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --elementmargin: 30px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: #fff8dc;
  font-weight: 500;
}

main {
  position: relative;
  top: 100px;
}

img {
  width: 36rem;
  height: 25rem;
  display: block;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

video {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}
ul,
ol {
  color: #8b4513;
  text-align: center;
  list-style: none;
}
p {
  width: 60%;
  display: block;
  margin: 18px auto;
  text-align: center;
  color: #8b4513;
  font-size: clamp(1.0625rem, 1.5vw, 3rem);
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: clamp(1.1rem, 1.5vw, 3rem);
}

.enlace {
  text-align: center;
}

a:active {
  color: purple;
}
a:visited {
  text-decoration: underline;
}
h3,
h4 {
  color: #8b4513;
  text-align: center;
  margin-top: var(--elementmargin);
  margin-bottom: var(--elementmargin);
  font-size: clamp(1.5rem, 2.1vw, 3rem);
}

iframe {
  display: block;
  margin: var(--elementmargin) auto;
  width: 60%;
  height: 30rem;
}

audio {
  width: 60%;
  display: block;
  margin: 0 auto;
}

form {
  width: 95%;
  margin: 0 auto;
  color: #8b4513;
  border: 3px solid #8b4513;
  padding: 15px;
  border-radius: 2rem;
}

section:first-child {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.625rem;
  width: 100%;
  margin: 0 auto;
}

.galeria img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
}

nav {
  background-color: #efcead;
  color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

#logok {
  max-width: 60px;
  max-height: 60px;
  position: relative;
  left: 0;
}
nav h1 {
  font-weight: 600;
  margin: 30px auto;
  text-shadow: 3px 3px 12px #555866;
  color: #8b4513;

  font-size: 1.8rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 27px;
  list-style-type: none;
  margin-right: 30px;
}

.texto-nav {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.banner {
  width: 100%;
  overflow-x: hidden;
  background-color: #8b4513;
  height: 540px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.banner h2 {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 600;
  color: #fff8dc;
}

.banner p {
  color: #fff8dc;
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  text-align: center;
}

header > p {
  color: #fff8dc;
  font-size: 18px;
}

img[alt="icono receta"] {
  width: 20%;
  height: 20%;
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem;
}

section:nth-child(2) > h3 {
  padding: 18px;
  border-top: 2px solid #8b4513;
  border-bottom: 2px solid #8b4513;
}

section > h3 {
  font-size: clamp(1.5rem, 2vw, 3rem);
  padding: 18px;
  border-top: 2px solid #8b4513;
  border-bottom: 2px solid #8b4513;
  width: 100%;
}

.seccion {
  display: block;
  width: 100%;
  height: auto;
  margin: var(--elementmargin) auto;
  padding-top: 10px;
}

blockquote {
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  color: #8b4513;
  margin-bottom: 3.75rem;
}

.inputnombre {
  display: block;
  margin: 10px auto;
}

input[name="name"]:last-child {
  background-color: #dfb5a0;
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

input[name="email"]:last-child {
  background-color: #dfb5a0;
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

fieldset {
  padding: 12px;
  margin: 15px auto;
  border: none;
  font-size: clamp(1.2rem, 1.5vw, 3rem);
}

legend {
  color: #000000;
}

.fieldset {
  border-top: 2px solid #8b4513;
}

input {
  margin: 6px auto;
  text-align: center;
}

input[type="file"] {
  font-size: clamp(0.625rem, 1.5vw, 1.25rem);
}

label {
  font-size: clamp(1rem, 1.39vw, 1.3rem);
}

#gustos {
  font-size: clamp(0.625rem, 1.2vw, 1.25rem);
}

#comentarios {
  background-color: #dfb5a0;
  width: 100%;
  height: 9rem;
  border: 3px solid #8b4513;
  border-radius: 12px;
  padding: 12px;
}

.btnenviar {
  display: block;
  margin: auto;
  background-color: #8b4513;
  width: 120px;
  padding: 18px;
  border-radius: 12px;
  border: none;
  color: antiquewhite;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
}

table {
  width: 72px;
  text-align: center;
  margin: var(--elementmargin) auto;
}

footer {
  background-color: #8b4513;
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
  position: relative;
  top: 100px;
}

footer p {
  color: #fff8dc;
  font-size: 24px;
}
.icons-container {
  background-color: #8b4513;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 20px;
}

#facebook {
  width: 30px;
  height: 30px;
}

#instagram {
  width: 30px;
  height: 30px;
}

#whatsapp {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 48.0625em) and (max-width: 64em) {
  #logok {
    left: 0;
  }
  nav h1 {
    left: 0;
    font-size: 1.3rem;
  }

  nav ul {
    margin-right: 4rem;
  }

  .banner {
    width: 100%;
  }

  #galeria {
    width: 100%;
  }

  .galeria {
    width: 70%;
    margin: 0 auto;
    gap: 1.5rem;
  }

  .galeria img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 26.625em) and (max-width: 48em) {
  .banner {
    width: auto;
    overflow-x: hidden;
  }

  .galeria {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
  }

  .galeria img {
    width: 13em;
    height: 13em;
    object-fit: cover;
  }

  img[alt="icono receta"] {
    width: 12em;
    height: 12em;
  }

  iframe,
  audio {
    width: 90%;
  }

  img {
    width: 90%;
  }

  nav {
    height: 8rem;
  }

  #logok {
    left: 0;
  }

  nav h1 {
    left: -12%;
  }
}

@media screen and (max-width: 26.5625em) {
  nav {
    height: 142px;
  }

  #logok {
    left: 0;
  }

  nav ul {
    gap: 6px;
  }

  p {
    width: 75%;
  }

  .galeria {
    grid-template-columns: 1fr;
  }

  .galeria img {
    width: 250px;
  }

  img[alt="icono receta"] {
    width: 60%;
  }

  iframe,
  audio {
    width: 80%;
  }

  img {
    width: 80%;
    height: 300px;
    object-fit: cover;
  }
}

@media (hover: hover) {
  #whatsapp:hover {
    background-color: #25d366;
    border-radius: 50%;
  }

  #instagram:hover {
    background-color: #c13584;
    border-radius: 50%;
  }

  #facebook:hover {
    background-color: #3b5998;
    border-radius: 50%;
  }

  a:hover {
    color: gray;
  }

  .btnenviar:hover {
    background-color: #d6a58d;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #754930;
  }

  ul,
  ol {
    color: #fff8dc;
  }

  section > h3 {
    color: #fff8dc;

    border-top: 2px solid #fff8dc;
    border-bottom: 2px solid #fff8dc;
  }

  h3,
  h4 {
    color: #fff8dc;
  }

  p {
    color: #fff8dc;
  }
  blockquote {
    color: #fff8dc;
  }
  .banner {
    background-color: #49280f;
  }

  form {
    color: #fff8dc;
    border: 3px solid #fff8dc;
  }

  .fieldset {
    border-top: 2px solid #fff8dc;
  }

  #comentarios {
    border: 3px solid #49280f;
  }

  legend {
    color: #fff8dc;
  }

  .btnenviar {
    background-color: #49280f;
  }

  footer {
    background-color: #49280f;
  }

  .icons-container {
    background-color: #49280f;
  }
}
